---

---

<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script is:inline src="/js/activate-redirect.js"></script>
    <noscript>
      <meta http-equiv="refresh" content="0; url=/ativar" />
    </noscript>
  </head>
  <body></body>
</html>
